<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1>Real Estate</h1>
  <p>Whether you are in search of your next home, looking for a rental or in search on a roommate this is the place for you!</p>
</div>

<ul class="nav nav-pills nav-justified">
  <li role="presentation" class="active"><a href="localhost:3000/listings?category=Home+For+Sale">For Sale</a></li>
  <li role="presentation"><a href="#">For Rent</a></li>
  <li role="presentation"><a href="#">Room for Rent</a></li>
  <li role="presentation"><a href="#">In Search Of</a></li>
</ul>
<br>
<br><br>
